extends ../layouts/main.jade

mixin editDate(created, updated)
  - var diff = (new Date()).getTime() - updated.getTime()
  if diff > 604800000
    span #{moment(updated).format('L')}
  else 
    span #{moment(updated).fromNow()}
  if updated > created
    span.glyphicon.glyphicon-pencil

mixin commentForm(type, answerId)
  form.comment-form(method='post', style='display:none;')
    input(style='display:none', name='type', value='comment-'+type)
    input(style='display:none', name='answerId', value=answerId)
    .input-group
      textarea.form-control(rows='5', style='resize:vertical', name='content', placeholder='我是這樣覺得拉齁...')
      span.input-group-addon.btn.btn-default(onclick='submitForm(this)') 留言

mixin comments(data, type, answerId)
  .comments-container
    if data && data.length
      table.comments-list.table: tbody
        each p in data
          tr
            td.comment-actions
              if p.score 
                - var css = p.score < 5 ? 'cool' : p.score <= 15 ? 'warm' : p.score <= 30 ? 'hot' : 'supernova';
                span(class=css)= p.score

            td.comment-text.attribution
              span.comment-copy= p.content + ' – '
              span.comment-user= p.user_id
              span.date
                +editDate(p.created_at, p.updated_at)

    a(onclick='showCommentForm(this)') 新增留言
    +commentForm(type, answerId)
  
mixin answerForm()
  form.answer-form(method='post')
    input(style='display:none', name='type', value='answer')
    .input-group
      textarea.form-control(rows='5', style='resize:vertical', name='content', placeholder='我知道解答...')
      span.input-group-addon.btn.btn-default(onclick='submitForm(this)') 送出

mixin answers(data)
  .answers
    if data && data.length
      each a in data
        hr
        .post-text
          p= a.content
          +comments(a.comments, 'ans', a.id)

block scripts
  script(src='https://maps.googleapis.com/maps/api/js?v=3.exp')
  script(src='/js/jquery-2.1.4.min.js')
  script(type='text/javascript')
    include ../scripts/post.js

block content
  .container: .row: .col-md-12
    h1= post.title
    hr
    .post-text
      p= post.content

    if post.location
      span= post.location

    if post.lat
      .well: div(id='inpost-map-canvas')

    +comments(post.comments, 'main')

    if post.answers && post.answers.length 
      .answers-container
        h2= post.answers.length + ' 回答'
        +answers(post.answers)

    hr
    +answerForm()
