extends ../layouts/main.jade


mixin comments(data)
  .comments-container
    p 新增留言
  
mixin answers(data)
  .answers
    if data && data.length
      each a in data
        .answers-text
          p.answer= a
          +comments()

block scripts
  script(src='https://maps.googleapis.com/maps/api/js?v=3.exp')
  script(src='/js/jquery-2.1.4.min.js')
  script(src='/js/app.js')

block content
  .container: .row: .col-md-12
    h1= post.title
    hr
    .post-text
      p= post.content

    if post.location
      span= post.location

    if post.lat
      .well: div(id='inpost-map-canvas')

    +comments()

    .answers-container
      h2= ((ans && ans.length) || 0) + ' 回答'
      hr
      +answers(ans)
